<form method="POST" enctype="multipart/form-data">
    <div>
        <label>CATEGORY</label>
        <select name="Cat">
            {% for i in arr %}
                <option value="{{i[0]}}"> {{i[1]}} </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label>Name</label>
        <input type="text" name="name" value="{{u[2]}}">
    </div>
    <div>
        <label>Price</label>
        <input type="number" name="pri" value="{{u[3]}}">
    </div>
    <div>
        <label>Quantity</label>
        <input type="number" name="qty" value="{{u[6]}}">
    </div> 
    <div>
        <label>Image</label>
        <input type="hidden" name="img" value="{{u[4]}}">
        <img src="static/photos/{{u[4]}}" width = 60>
        <input type="file" name="f">
        
    </div>
    <div>
        <label>Description</label>
        <textarea name="des" value="{{u[5]}}"></textarea>
    </div>
    <div>
        <button>Save</button>
    </div>
</form>