<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" text="text/css" href="/css/style.css">
    <script type="javascript" src="/js/jquery-3.5.1.min.js"></script>
    <script type="javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        Minishop
    </div>
    <div class="container">
        {% block content %}  
        {% endblock content %}
    </div>
</body>
<footer>
    <div class="footer">
        address: npcc123@gmail.com
    </div>
</footer>
</html>