<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
<div>
    <a href="/account" style="text-underline-position: below;">BACK</a>
</div>
<label>Username: {{a['usr']}}</label>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Role</th>
            <th>Check</th>
        </tr>
    </thead>
    {% for v in arr  %}
    <tr>
        <td>{{v[1]}}</td>
        <td>
            {% if v[-1] %}          <!--True = 1, False = 0-->
                <input type="checkbox" checked="checked" name="check" value="{{v[0]}}">
            {% else %}
                <input type="checkbox" name="check" value="{{v[0]}}">
            {% endif %}
            
        </td>
    </tr>
    {% endfor %}
</table>

<script type="text/javascript">
$('input[name="check"]').click(function(){
    var o = {roleID: $(this).val(), accID: '{{a['id']}}'};
    $.post('/account/addrole', o, function(d){
        alert(d);
    })
})
</script>